*{
    padding :0px;
    margin: 0px;
    box-sizing: border-box;
    
}
.fas{
    font-size: 25px;
}
span{
    color: orange;
}
img{
    height: 440px;
    width: 460px;
}
.log{
    background-color: rgb(46, 52, 46);
}
h1{
    font-size: 45px;
    color: white;
    font-weight: 800;
}
.form-control{
    background-color: none;
    background-color: gray;
    color: white;
    border: none;
    outline: none;
    padding: 23px 10px;
}
.form-control:focus{
    background-color: gray;
    outline: none;
    color: white;
}
.btn1{
    background-color: orange;
    color: white;
    outline: none;
    border: none;
    border-radius: 50px;
    height: 40px;
    width: 100px;
}
a{
    color: orange;
    cursor: pointer;
}